/* Default (mobile) styles */
#desktop-menu {
    display: none;
}

#mobile-menu {
    display: block;
    top: 0em;/*Move Menu To Top*/
    margin-top: 0px;
    position: absolute;
}



   @media screen and (max-width: 767px) {
    }
