#mobile-menu svg.icon {
	max-width: 6rem;
	max-height: 4rem;
}

.main-menu {
    position: fixed;
    top: 0px;
    z-index: 99999;
}


html body #mobile-menu a{text-decoration: none;}

html body #mobile-menu a h4{font-family: 'Righteous', cursive !important;}
@media all and (max-width: 991px) {

}
@media all and (max-width: 768px) {
}



@media all and (min-width:768px){


}
